* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #edd8d3;
}

#nav {
    height: 170px;
    width: 100%;
    /* background-color: red; */
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav h5 {
    font-size: 17px;
    margin: 20px;
    padding: 10px 30px;
    border: 2px solid #000;
    border-radius: 50px;
    font-weight: 500;
}

#center {
    height: calc(100% - 170px);
    width: 100%;
    position: relative;
    padding: 10px 20px;
    /* background-color: red; */
}

h1 {
    font-size: 100px;
    font-family: "monument";
    text-transform: uppercase;
    /* color: black; */
    /* -webkit-text-stroke: 1px #000; */
    position: absolute;
    z-index: 9;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, 0);
    font-weight: 900;
    font-style: italic;
}

h1::before {
    content: "Happy Socks";
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    -webkit-text-stroke: 1.4px #000;
    color: transparent;
}

#image {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: 65%;
    width: 59%;
    /* background-color: red; */
    border-radius: 50%;
    border: 2px solid #000;
}

#image img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 90%;
    width: 95%;
    object-fit: cover;
    object-position: 100% 80%;
    border-radius: 55%;
}

button {
    position: absolute;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #b2ed37;
    right: 19%;
    top: 27%;
    transform: rotate(-5deg);
}

#socks {
    position: absolute;
    top: 30%;
    left: 16.5%;
    height: 190px;
    width: 210px;
    transform: rotate(10deg);
    background-position: center;
    background-size: cover;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/67329e34335317.56ccdce5db9f6.gif);
    border: 2px solid #000;
    z-index: 2;
} 

#socks::after {
    content: '';
    position: absolute;
    height: 190px;
    width: 210px;
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/67329e34335317.56ccdce5db9f6.gif);
    background-position: center;
    background-size: cover;
    z-index: -1;
    border: 2px solid #000;
    bottom: 10px;
    left: 10px;
}